<div class="main-content">
    <vgr-page-header [title]="'Spara/avbryt'">
    </vgr-page-header>
    <div class="komponentkarta-components column-layout">

        <span>En panel som innehåller spara, avbryt samt låsknapp.
      Spara och avbryt är inaktiverade i låst läge. De kan aktiveras genom att låsa upp.
      När användaren sparar triggas eventet <strong>onSave</strong>, vid avbryt triggas <strong>onCancel</strong>.
      Om man låser upp och sedan <strong>låser</strong> är det <strong>samma som att spara</strong>.
      </span>
        <div>
            <vgr-save-cancel (onSave)="saveCancelMessage='Sparade!'" (onCancel)="saveCancelMessage='Avbröt.'"></vgr-save-cancel>
            <br>
            <span>Senaste händelse:&nbsp;<strong>{{saveCancelMessage}}</strong></span>
        </div>

        <br>
        <div class="row-layout">
            <div class="full">
                <h2>Konfiguration</h2>
                <table class="property-table">
                    <tr>
                        <th>Namn</th>
                        <th>Beskrivning</th>
                        <th>Exempel</th>
                    </tr>
                    <tr>
                        <td>enabled</td>
                        <td>Tveksam property</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>secondary</td>
                        <td>true/false, defaultvärde false. Sätter om knapparna skall ha secondary utseende eller inte.</td>
                        <td>[checked]=True</td>
                    </tr>
                    <tr>
                        <td>onCancel</td>
                        <td>Event som triggas när man trycker på avbryt</td>
                        <td>(onCancel)="onCancel()"</td>
                    </tr>
                    <tr>
                        <td>onSave</td>
                        <td>Event som triggas när man trycker på spara</td>
                        <td>(onSave)="onSave()"</td>
                    </tr>
                    <tr>
                        <td>onUlock</td>
                        <td>Event som triggas när man trycker på låset</td>
                        <td>(onUlock)="onUlock()"</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>