<vgr-page>
    <vgr-page-header [title]="'Loader'">
    </vgr-page-header>
    <vgr-page-body>
        <vgr-page-block>


            <vgr-list [allowMultipleExpandedItems]="true">
                <div class="list__header">
                    <h2>Dokumentation för loader</h2>
                </div>

                <vgr-list-item [expanded]="true">
                    <div class="list-item__header">
                        <h4>Översikt</h4>
                    </div>
                    <div class="list-item__content">
                        <div class="content-overview">
                            <p>
                                <code>
              &lt;vgr-loader&gt; </code> används för att visa att en åtgärd pågår. Loader går alltid fulla varv innan stopp. Den finns i två olika storlekar, den sätts av via
                                <code>small</code> och är default false.

                                <br>
                                <br>
                                <vgr-loader [active]="true"></vgr-loader>
                            </p>
                            <br>
                            <p> Förändras med tema:
                                <strong>Nej</strong>
                            </p>
                        </div>
                    </div>
                </vgr-list-item>
                <vgr-list-item [expanded]="false ">
                    <div class="list-item__header ">
                        <h4>Exempel</h4>
                    </div>
                    <div class="list-item__content ">
                        <div class="row-layout">
                            <div style="align-self:middle">
                                <span>Stor storlek</span>
                                <vgr-loader [active]="actionInProgress"></vgr-loader>
                            </div>
                            <div style="align-self:middle">
                                <span>Liten storlek</span>
                                <vgr-loader [active]="actionInProgress" [small]="true"></vgr-loader>
                            </div>
                        </div>

                        <br>
                        <div style="height:50px">
                            <vgr-button (click)="actionInProgress=!actionInProgress">{{buttonText}}</vgr-button>
                        </div>

                    </div>
                </vgr-list-item>
                <vgr-list-item [expanded]="false ">
                    <div class="list-item__header ">
                        <h4>API</h4>
                    </div>
                    <div class="list-item__content ">
                        <table class="property-table ">
                            <tr>
                                <th>Namn</th>
                                <th>Beskrivning</th>
                                <th>Exempel</th>
                            </tr>
                            <tr>
                                <td>active : boolean</td>
                                <td>Anger om loader snurrar eller ej. Minsta tid som loader visas är 1 sekund. Inaktivering kan därför fördröjas.</td>
                                <td>[active]="true"</td>
                            </tr>
                            <tr>
                                <td>small : boolean</td>
                                <td>Visar loadern i liten storlek</td>
                                <td>[small]="true"</td>
                            </tr>

                        </table>
                    </div>
                </vgr-list-item>
                <vgr-list-item [expanded]="false ">
                    <div class="list-item__header ">
                        <h4>Tillgänglighet</h4>
                    </div>
                    <div class="list-item__content ">
                        <i>Under utveckling</i>
                    </div>
                </vgr-list-item>
            </vgr-list>
        </vgr-page-block>
    </vgr-page-body>
</vgr-page>