<vgr-page>
  <vgr-page-header [title]="'Ikoner'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Dokumentation för tillgängliga ikoner i komponentkartan</h2>
      <p>
        Det finns nu stöd för att använda Font Awsome (free).
        Genom att använda komponenten vgr-icon kan dessa ikoner användas
        <a href="https://fontawesome.com/icons?d=gallery&m=free">https://fontawesome.com/icons?d=gallery&m=free</a>.
        För implementation se <a href="/icons">dokumentation for vgr-icon</a>.
      </p>
      <br>
      <div><strong>Exempel på Font Awsome ikoner</strong></div>
      <div class="fa-icons">
        <vgr-icon icon="pen" size="" color="text"></vgr-icon>
        <span>icon="pen" size="" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="comment-dots" color="text" [solid]="false"></vgr-icon>
        <span>icon="comment-dots" color="text" [solid]="false"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="check-circle" color="success"></vgr-icon>
        <span>icon="check-circle" color="success"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="trash-alt" color="text"></vgr-icon>
        <span>icon="trash-alt" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="plus" color="text"></vgr-icon>
        <span>icon="plus" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="minus" color="text"></vgr-icon>
        <span>icon="minus" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="check" color="text"></vgr-icon>
        <span>icon="check" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="user-alt" color="text"></vgr-icon>
        <span>icon="user-alt" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="star" color="text" [solid]="false"></vgr-icon>
        <span>icon="star" color="text" [solid]="false"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="star" color="text"></vgr-icon>
        <span>icon="star" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="info-circle" color="text"></vgr-icon>
        <span>icon="info-circle" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="envelope"></vgr-icon>
        <span>icon="envelope"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="print"></vgr-icon>
        <span>icon="print"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="question-circle" color="text"></vgr-icon>
        <span>icon="question-circle" color="text"</span>
      </div>
      <div class="fa-icons">
        <vgr-icon icon="exclamation-circle" color="error"></vgr-icon>
        <span>icon="exclamation-circle" color="error"</span>
      </div>
      <div>
        <br>
        <strong>Diskreta knappar med ikon</strong><br>
        <vgr-button [buttonStyle]="'discreet'" (click)="favoriteValue = !favoriteValue">
          <vgr-icon [icon]="'star'" [solid]="favoriteValue"></vgr-icon>
          Min favoritknapp
        </vgr-button>
      </div>
      <br>
      <h2>Gamla knappar <strong>(deprecated)</strong></h2>
      <p>
        <i> Man kan fortfarande använda sig av de gamla gamla ikonerna nedan men dessa kommmar att ersättas av Font
        Awsome ikoner.</i><br><br>
        För att kunna använda sig utav de ikoner (svg-bilder) som finns i komponentkartan, så finns deras klassnamn
        representerade i tabellen nedanför.
        <br>
        <br>Svg-bilderna är kopplade till en background-image för samtliga klasser i komponentkartans ikon-bibliotek.
      </p>
      <br>
      <table class="property-table" style="width:50%">
        <tr>
          <th>Namn</th>
          <th>Ikon</th>
        </tr>
        <tr>
          <td>
            vgr-icon-plus
          </td>
          <td>
            <div class="vgr-icon-plus"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-minus
          </td>
          <td>
            <div class="vgr-icon-minus"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-edit
          </td>
          <td>
            <div class="vgr-icon-edit"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-message
          </td>
          <td>
            <div class="vgr-icon-message"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-trashcan
          </td>
          <td>
            <div class="vgr-icon-trashcan"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-ok-check-green
          </td>
          <td>
            <div class="vgr-icon-ok-check-green"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-ok-check
          </td>
          <td>
            <div class="vgr-icon-ok-check"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-question
          </td>
          <td>
            <span class="vgr-icon-question"></span>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-exclamation
          </td>
          <td>
            <div class="vgr-icon-exclamation"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-exclamation--red
          </td>
          <td>
            <div class="vgr-icon-exclamation--red"></div>
          </td>
        </tr>

      </table>
      <br>
      <h2>Exempel</h2>
      <br> Lägga till en ikon i html:
      <section style="width:50%" [innerHTML]="iconExamplesHTML" highlight-js-content=".highlight"></section>

      <br> Skapa en notifiering i typescript:
      <br>
      <section style="width:70%" [innerHTML]="iconExamplesTS2" highlight-js-content=".highlight"></section>



      <br> När man vill skicka med en ikon till en notifiering i typescript:
      <br>
      <section style="width:70%" [innerHTML]="iconExamplesTS" highlight-js-content=".highlight"></section>



    </vgr-page-block>
  </vgr-page-body>

</vgr-page>