<vgr-page>
  <vgr-page-header [title]="'Ikonbibliotek'">
  </vgr-page-header>

  <vgr-page-body>
    <!-- Ikoner -->
    <vgr-page-block class="column-layout">
      <h2>Ikoner för notiferingar i list</h2>
      bla bla asdlkajsdl
      <span style="display: block; height: 30px; width: 20px;" class="bg-image-icon-trashcan">
      </span>

      <!-- <section [innerHTML]="samplePageStructure" highlight-js-content=".highlight"> -->
      <!-- </section> -->
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
