<vgr-page>
  <vgr-page-header [title]="'Ikonbibliotek'">
  </vgr-page-header>

  <vgr-page-body>
    <!-- Ikoner -->
    <vgr-page-block class="column-layout">
      <h2>Ikoner för notiferingar i list</h2>
      bla bla asdlkajsdl
      <div class="vgr-icon-trashcan"></div>
      <div class="vgr-icon-search"></div>
      <div class="vgr-icon-lock-button"></div>
      <div class="vgr-icon-pinkiepie"></div>
      <div class="vgr-icon-ok-check-green"></div>

      <!-- <section [innerHTML]="samplePageStructure" highlight-js-content=".highlight"> -->
      <!-- </section> -->
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
