<app-component-docs2 [componentName]="'card'">
  <div class=" docs__overview ">
    <p>
      <code>&lt;vgr-card&gt;</code> används för att skapa kort, ofta i listor som expanderat innehåll. Ett kort har tre delar:
      Topp, vänster och höger. Dessa fylls med innehåll genom att använda css-klasser. Ett kort innehåller en eller flera
      <code>&lt;vgr-card-section&gt;</code> som kan expanderas.
    </p>
    <vgr-card>
      <vgr-card-column>
        <vgr-card-header>
          <vgr-button class="flex-right" [secondary]="true">Åtgärd</vgr-button>
        </vgr-card-header>
        <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 1'">
          <span>Innehåll</span>
        </vgr-card-section>
        <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 2'">
          <span>Innehåll</span>
        </vgr-card-section>
      </vgr-card-column>
      <vgr-card-column>
        <vgr-card-section class="card__right" [expanded]="true" [title]="'Rubrik'" [subtitle]="'Höger 1'" [readonly]="false">
          <div>Innehåll</div>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>

    <p>Förändras med tema:
      <strong>nej</strong>
    </p>
  </div>
  <div class="docs__examples ">
    <h3>Kort med två kolumner</h3>
    <vgr-card>
      <vgr-card-header>
        <vgr-save-cancel class="flex-right" [secondary]="true" (unlock)="unlocked = true" (save)="unlocked = false" (cancel)="unlocked = false"></vgr-save-cancel>
      </vgr-card-header>
      <vgr-card-column>
        <vgr-card-header>
          <h1>Första Kollumnen</h1>
        </vgr-card-header>
        <vgr-card-section [expanded]="true" [title]="'Rubrik'" [subtitle]="'Personuppgifter'" [readonly]="!unlocked">
          <div class="title-value-layout">
            <vgr-title-value [title]="'Förnamn'" [slim]="!unlocked">
              <vgr-input [value]="'Per-Åke'" [readonly]="!unlocked"></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]="'Efternamn'" [slim]="!unlocked">
              <vgr-input [value]="'Berg'" [readonly]="!unlocked"></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]="'Boende'" [slim]="!unlocked">
              <vgr-dropdown [values]="['Hus','Lägenhet','Kartong']" [selectedValue]="'Hus'" [readonly]="!unlocked"></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]="'Födelsedatum'" [slim]="!unlocked">
              <vgr-datepicker [selectedDate]="birthDate" [readonly]="!unlocked"></vgr-datepicker>
            </vgr-title-value>
            <vgr-title-value [title]="'Serienummer'" [slim]="!unlocked">
              <span>7a787b27-c2cc-441f-a732</span>
            </vgr-title-value>
          </div>
        </vgr-card-section>
        <vgr-card-section [expanded]="true" [title]="'Rubrik'" [subtitle]="'Adressuppgifter'">
          <div class="title-value-layout ">
            <vgr-title-value [title]="'Kommun'" [slim]="true">
              <span>Vänersborg</span>
            </vgr-title-value>
            <vgr-title-value [title]="'Besöksaddress'" [slim]="true">
              <span>Duellvägen
                <br>462 60
                <br>Vänersborg
              </span>
            </vgr-title-value>
            <vgr-title-value [title]="'Geokod (PT90)'" [slim]="true">
              <span>x: 6471784</span>
            </vgr-title-value>
          </div>
        </vgr-card-section>
      </vgr-card-column>
      <vgr-card-column>
        <vgr-card-header>
          <h1>Andra Kollumnen</h1>
        </vgr-card-header>
        <vgr-card-section [expanded]="false" [title]="'Rubrik'" [subtitle]="'Övrig information'">
          <span>Innehåll</span>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>
    <br>
    <h3>Markup</h3>
    <section [innerHTML]="cardExampleMarkup" highlight-js-content=".highlight"></section>
    <br>
  </div>

  <div class="docs__examples2">
    <h3>Kort i fullbredd</h3>
    <vgr-card>
      <vgr-card-header>
        <vgr-save-cancel class="flex-right" [secondary]="true" (unlock)="unlocked = true" (save)="unlocked = false" (cancel)="unlocked = false"></vgr-save-cancel>
      </vgr-card-header>
      <vgr-card-column>
        <vgr-card-section [expanded]="true" [title]="'Rubrik'" [subtitle]="'Exempel med kontroller'" [readonly]="!unlocked">
          <div class="title-value-layout">
            <vgr-title-value [title]="'Förnamn'" [slim]="!unlocked">
              <vgr-input [value]="'Per-Åke'" [readonly]="!unlocked"></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]="'Efternamn'" [slim]="!unlocked">
              <vgr-input [value]="'Berg'" [readonly]="!unlocked"></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]="'Boende'" [slim]="!unlocked">
              <vgr-dropdown [values]="['Hus','Lägenhet','Kartong']" [selectedValue]="'Hus'" [readonly]="!unlocked"></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]="'Födelsedatum'" [slim]="!unlocked">
              <vgr-datepicker [selectedDate]="birthDate" [readonly]="!unlocked"></vgr-datepicker>
            </vgr-title-value>
            <vgr-title-value [title]="'Serienummer'" [slim]="!unlocked">
              <span>7a787b27-c2cc-441f-a732</span>
            </vgr-title-value>
          </div>
        </vgr-card-section>
        <vgr-card-section [expanded]="true" [title]="'Rubrik'" [subtitle]="'vänster 2'">
          <span>Innehåll</span>
        </vgr-card-section>
        <vgr-card-section [expanded]="false" [title]="'Rubrik'" [subtitle]="'Höger 1'">
          <span>Innehåll</span>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>
    <br>
    <h3>Markup</h3>
    <section [innerHTML]="cardExampleMarkup2" highlight-js-content=".highlight"></section>
    <br>


  </div>

  <div class="docs__api">
    <code> &lt;vgr-card-header&gt;:</code> Component (optional) Ger titelyta på en vgr-card -kompononent. Du kan lägga den i vgr-card
    eller vgr-card-column.
    <br>
    <br> Om en
    <code>&lt;vgr-card-column&gt;</code>är angett så kommer man få en kollumn i hellängd. Om man anger två
    <code>&lt;vgr-card-column&gt;</code> så kommer man få en vänsterjusterat och en högerjusterad kollumn.
    <br>
    <br>
    <code>&lt;vgr-card&gt;</code>API nedan avser
    <code>&lt;vgr-card-section&gt;</code>

    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>expanded: boolean</td>
        <td>Anger om sektionen är expanderad eller ej</td>
        <td>[expanded]="true"</td>
      </tr>
      <tr>
        <td>title: string</td>
        <td>Sektionens rubrik</td>
        <td>[title]="'Rubrik'"</td>
      </tr>
      <tr>
        <td>subTitle: string</td>
        <td>Sektionens underrubrik</td>
        <td>[title]="'Underrubrik'"</td>
      </tr>
      <tr>
        <td>readonly: boolean</td>
        <td>Anger om symbolen för redigeringsläge skall visas eller ej. False = visa. True = dölj. Default är TRUE.</td>
        <td>[readonly]="true"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <i>Under utveckling</i>
  </div>
</app-component-docs2>
