<vgr-page>
    <vgr-page-header [title]="'Validering av komponenter'">
    </vgr-page-header>
    <vgr-page-body>
        <vgr-page-block>



            <p>
                Flera av komponenterna har stöd för validering av obligatoriskt värde. Dessa validerar när användaren lämnar fältet. Man kan även trigga en validering utifrån, exempelvis från en spara-knapp. För att implementera validering på en sida, som triggas av
                en knapp, se exempel nedan.
            </p>
            <br>
            <h2>I .ts-filen</h2>
            <span> Deklarera
      <code>@ViewChildren(ValidationComponent) validatedComponents: QueryList&lt;ValidationComponent&gt;</code>
    </span>
            <p>
                Använd sedan
                <code>validatedComponents.forEach(vc =&gt; vc.validate());</code> för att validera samtliga komponenter. Använd resultatet från respektive validering för att agera.
            </p>
            <br>
            <br>
            <h2>Exempel på validering</h2>
            <div class="title-value-layout" style="width:50%">
                <vgr-title-value [title]="'Startmånad'">
                    <vgr-monthpicker [required]="true"></vgr-monthpicker>
                </vgr-title-value>
                <vgr-title-value [title]="'Ett datum'">
                    <vgr-datepicker [required]="true"></vgr-datepicker>
                </vgr-title-value>
                <vgr-title-value [title]="'Land'">
                    <vgr-dropdown [required]="true" [disabled]="true" [items]="items"></vgr-dropdown>
                </vgr-title-value>
                <vgr-title-value [title]="'Länder'">
                    <vgr-dropdown-multiselect [required]="true" [items]="multiItems"></vgr-dropdown-multiselect>
                </vgr-title-value>
                <vgr-button (click)="onSave()">Spara</vgr-button>
            </div>
            <div>Valideringsfel:</div>
            <div>{{validationStatus}}</div>


        </vgr-page-block>
    </vgr-page-body>
</vgr-page>