<vgr-page>
  <vgr-page-header [title]="'Välkommen'">


    <div style="align-self: flex-end">
      Komponenterna använder sig av vgr-komponentkartan version:
      <strong>{{currentVersion}}</strong>, Angular:
      <strong>{{angularVersion}}</strong> och Angular-Cli:
      <strong>{{angularCliVersion}}</strong>
    </div>
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h1>Beskrivning</h1>
      <p>Detta är en komponentkarta av ersättningssystemen i Västra Götalandsregionen. Anledningen till att följa gemensamma
        riktlinjer vid navigation, kontroller och struktur är dels för att skapa en enhetlighet och dels kunna hantera flera
        system för samma inloggning. Innehållet i de olika ersättningssystemen är och kommer fortsättningsvis att vara systemspecifikt.
        Ersättningssystemen med gemensamt inloggning har en gemensam portal med en neutral färg som är skild från den röda,
        gröna och blå färgen. När en användare har behörighet för fler än ett system kommer de gemensamma delarna att visa
        den neutrala färgen.</p>
    </vgr-page-block>
    <vgr-page-block>
      <h2>Utecklingsmiljö för Angular + komponentkartan</h1>
        <ul>
          <li>
            1. Installera Node
            <a href="https://nodejs.org/en/" target="new"> https://nodejs.org/en/</a> Verifiera att node och npm är installerat genom att köra node -v samt npm -v i ett
            terminalfönster.
          </li>
          <li>
            2. Installera IDE Visual Studio Code (rekommenderad).
            <a href="https://code.visualstudio.com/" target="new">https://code.visualstudio.com/</a>
          </li>
          <li>
            3. Installera angular-cli
            <a href="https://cli.angular.io/" target="new">https://cli.angular.io/</a> globalt på din dator: npm i -g @angular/cli. Verifiera installationen genom att köra
            ng -v
          </li>
          <li>
            4. Kör ng -s för att köra igång din applikation lokalt
          </li>
        </ul>

        <h2>Följ dessa steg om du sätter upp ett nytt projekt</h2>
        <ul>

        </ul>

        <h2>Följ dessa steg om du ska börja arbeta i ett befintligt projekt</h2>
        <ul>
        </ul>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquam, praesentium natus est, quo quisquam
          error vero laborum distinctio vel optio sapiente accusantium? Sunt eligendi hic repellendus perspiciatis, veniam
          dignissimos.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae ab blanditiis incidunt sit aperiam molestiae
          facilis deleniti, rerum voluptas?
          <p>
    </vgr-page-block>

    <vgr-page-block>
      <h1>Versionshantering</h1>
      <p>Detta är en komponentkarta av ersättningssystemen i Västra Götalandsregionen. Anledningen till att följa gemensamma
        riktlinjer vid navigation, kontroller och struktur är dels för att skapa en enhetlighet och dels kunna hantera flera
        system för samma inloggning. Innehållet i de olika ersättningssystemen är och kommer fortsättningsvis att vara systemspecifikt.
        Ersättningssystemen med gemensamt inloggning har en gemensam portal med en neutral färg som är skild från den röda,
        gröna och blå färgen. När en användare har behörighet för fler än ett system kommer de gemensamma delarna att visa
        den neutrala färgen.</p>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
