<app-component-docs [componentName]="'Filter tag'">
  <div class="docs__overview">
    <p>
      <code>&lt;vgr-filter-tag&gt;</code> är avsedd att användas för att representera filter i en sökning. I kombination med
      <code>&lt;vgr-filter-tag-group&gt;</code> kan filtren navigeras med piltangenterna.
    </p>
    <br>
    <vgr-filter-tag>Filter</vgr-filter-tag>
    <br>
    <br>
    <p>Förändras med tema:
      <strong>ja</strong>
    </p>
  </div>
  <div class="docs__examples">
    <div style="margin-bottom: 20px">
      <div style="font-weight: bold">Enkelt exempel</div>
      <vgr-input [small]="true" style="display: inline-block; " #filterInput></vgr-input>
      <vgr-button (click)="addFilter(filterInput.value)">Lägg till filter</vgr-button>
      <vgr-button (click)="removeAllFilters()" style="margin-left: 20px;">Ta bort alla filter</vgr-button>
      <vgr-button (click)="disableFilters()" style="margin-left: 20px;">{{disabled ? 'Aktivera' : 'Inaktivera'}} filtertaggar</vgr-button>
    </div>
    <div style="margin-bottom: 20px" *ngIf="filters.length">
      <vgr-filter-tag-group>
        <vgr-filter-tag *ngFor="let filter of filters" (remove)="removeFilter(filter)" [disabled]="filter.disabled">{{filter.text}}</vgr-filter-tag>
      </vgr-filter-tag-group>
    </div>
    <ul>
      <div *ngIf="filteredValues.length > 0" class="list-row">
        <div class="list-column list-header">Förnamn</div>
        <div class="list-column list-header">Efternamn</div>
      </div>
      <li *ngFor="let value of filteredValues">
        <div class="list-row">
          <div class="list-column">{{value.firstName}}</div>
          <div class="list-column">{{value.surname}}</div>
        </div>
      </li>
    </ul>
    <br>
    <span style="font-weight: bold">Avancerat exempel</span>
    <form [formGroup]="searchForm" (ngSubmit)="extendedFilter()" novalidate>
      <div style="margin-bottom: 20px">
        <div style="display: flex; align-items: flex-end">
          <div>
            <div>Namn:</div>
            <div>
              <vgr-input formControlName="name"></vgr-input>
            </div>
          </div>
          <div>
            <div>Minimiålder:</div>
            <div>
              <vgr-input formControlName="minimumAge" [small]="true"></vgr-input>
            </div>
          </div>
          <div>            
            <vgr-checkbox formControlName="women" [label]="'Kvinnor'" style="display: inline-block;"></vgr-checkbox>
            <vgr-checkbox formControlName="men" [label]="'Män'" style="display: inline-block; margin-left: 10px;"></vgr-checkbox>
          </div>
          <vgr-button (click)="extendedFilter()" style="margin-left: 20px;">Filtrera</vgr-button>
          <vgr-button (click)="removeAllExtendedFilters()" style="margin-left: 20px;">Ta bort alla filter</vgr-button>
        </div>
      </div>
    </form>
    <div style="margin-bottom: 20px" *ngIf="extendedFilters.length">
      <vgr-filter-tag-group>
        <vgr-filter-tag *ngFor="let filter of extendedFilters" (remove)="filter.remove()">{{filter.text}}</vgr-filter-tag>
      </vgr-filter-tag-group>
    </div>
    <ul style="margin-bottom: 20px;">
      <div *ngIf="extendedFilteredValues.length > 0" class="list-row">
        <div class="list-column list-header">Förnamn</div>
        <div class="list-column list-header">Efternamn</div>
        <div class="list-column list-header">Ålder</div>
      </div>
      <li *ngFor="let value of extendedFilteredValues">
        <div class="list-row">
          <div class="list-column">{{value.firstName}}</div>
          <div class="list-column">{{value.surname}}</div>
          <div class="list-column">{{value.age}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Inaktivera filter tag. Förvalt värde är
          <code>false</code>.</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>ariaLabel: string</td>
        <td>Värde för
          <code>aria-label</code>. Förvalt värde är "Ta bort filtrering [text]", där [text] är text content för
          <code>&lt;vgr-filter-tag&gt;</code>.</td>
        <td>[ariaLabel]="En alternativ beskrivning."</td>
      </tr>
      <tr>
        <td>remove: EventEmitter</td>
        <td>Event som triggas efter att animationen för bortagning av filter är klar. Bör kopplas till uppdatering av tillstånd
          för den bakomliggande filtreringen.</td>
        <td>(remove)="removeFilter()"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag"></div>
</app-component-docs>