<div class="main-content lists-component ">
  <vgr-page-header [title]="'Datepicker'">
  </vgr-page-header>
  <vgr-expandable-container-list [allowMultipleExpandedChildren]="true">
    <div class="expandable-container-list__header">
      <h2>Dokumentation för datepicker</h2>
    </div>

    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header">
        <h4>Översikt</h4>
      </div>
      <div class="expandable-container__content">
        <div class="content-overview">
          <p>
            <code>
              &lt;vgr-datepicker&gt; </code> är en kalender där användaren kan välja ett datum. I kalendern visas valt datum
            (satt av användaren eller av systemet) och dagens datum.
            <br>

          </p>
          <br>
          <!--row-layout row-layout--padded -->
          <div class="row-layout">
            <vgr-datepicker></vgr-datepicker>
          </div>

          <br>
          <p>Förändras med tema:
            <strong>ja</strong>
          </p>

        </div>
      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="true">
      <div class="expandable-container__header">
        <h4>Exempel</h4>
      </div>
      <div class="expandable-container__content">
        <div>
          <p>Med defaultinställningar så sätts min- och maxdatum till innevarande år.
            <br>Datumformat: default</p>
          <vgr-datepicker (selectedDateChanged)="datepicker_selectedDate=$event"></vgr-datepicker>
        </div>
        <br>
        <div>
          <p>här är
            <code>selectedDate</code> dagens datum + 1 dag.
            <code>minDate</code> och
            <code>maxDate</code> är ej satta, perioden blir då samma som exemplet ovan.
            <br> Datumformat: yyyy MM dd
          </p>
          <vgr-datepicker [selectedDateFormat]="'yyyy MM dd'" [selectedDate]="selectedDateTodaysDatePlusOneDay" (selectedDateChanged)="datepicker_selectedDate=$event"></vgr-datepicker>
        </div>
        <br>
        <div>
          <p>Här är kalendern obligatorisk och
            <code>minDate</code> satt till 2016-05-15 och
            <code>maxDate</code> är 2017-03-25. Det går endast att nagivera mellan maj 2016 och fram till nuvarande år och månad.
            Notera att hela maj visas för 2016 även fast mindatumet är satt 2016-05-15. Det går bara att välja de dagar som
            ingår i perioden mellan min och max. Fältet är
            <code>required</code> och därför ges valideringsfel om inget värde väljs.
          </p>
          <vgr-datepicker [minDate]="datepicker_minDate20160515" [maxDate]="datepicker_maxDate20170326" [required]="true" (selectedDateChanged)="datepicker_selectedDate=$event"></vgr-datepicker>
        </div>
        <br>
        <div>
          <p>Disabled</p>
          <vgr-datepicker [disabled]="true" [selectedDate]="selectedDate"></vgr-datepicker>
        </div>
        <br>
        <div style="margin-top:20px">
          <span>Senast valt datum: </span>
          <span>{{datepicker_selectedDate | date : 'yyyy MMM dd'}}</span>
        </div>
      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header">
        <h4>API</h4>
      </div>

      <div class="expandable-container__content">
        <table class="property-table">
          <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Exempel</th>
          </tr>
          <tr>
            <td>selectedDateFormat: string</td>
            <td>Datumformatet på valt datum i dropdownen.</td>
            <td>
              [selectedDateFormat]=yyyymmDD
            </td>
          </tr>
          <tr>
            <td>tooltipDateFormat: string</td>
            <td>Datumformatet på valt datum i dropdownens tooltip.</td>
            <td>
              [selectedDateFormat]=yyyymmDD
            </td>
          </tr>
          <tr>
            <td>minDate: Date</td>
            <td>Sätter vilket datum kalendern börjar på. Sätts inget datum är standard första dagen i januari månad för innevarande
              år.
            </td>
            <td>
              [minDate]=someDate
            </td>
          </tr>
          <tr>
            <td>maxDate: Date</td>
            <td>Sätter vilket datum kalendern slutar på. Sätts inget datum är standard sista dagen i december månad för innevarande
              år.
            </td>
            <td>
              [maxDate]=someDate
            </td>
          </tr>
          <tr>
            <td>selectedDate: Date</td>
            <td> Valt datum som visas i kalendern. När kalendern instansieras och man öppnar den första gången så positioneras
              man på den valda månaden. Om inget datum är valt så positioneras man på dagens datum.</td>
            <td>
              [selectedDate] = someDate
            </td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Inaktiverar kalendern.</td>
            <td>
              [disabled]=true/false
            </td>
          </tr>
          <tr>
            <td>
              required : boolean
            </td>
            <td>Anger om värde är obligatoriskt eller ej. Om required=true och inget värde valts när komponenten tappar fokus
              ges ett validerings fel. Vid val av värde uppdateras validering. Vid fokus indikeras att valideringsfel redigeras.
              För att trigga validering utifrån använd
              <code>validate()</code>.
            </td>
            <td>[required]="true"</td>
          </tr>
          <tr>
            <td>
              validate() : IValidationResult
            </td>
            <td>Anropas utifrån för att validera komponenten. ValidationResult.isValid indikerar om innehåll är giltigt eller
              ej. ValidationResult.errorMessage ger eventuellt fel.
            </td>
            <td>const result = component.validate()</td>
          </tr>
          <tr>
            <td>selectedDateChanged = EventEmitter&lt;date&gt;
            </td>
            <td>Event som trigas när man väljer ett datum i kalendern.</td>
            <td>
              (selectedDateChanged)="selectedDate=$event"
            </td>
          </tr>
        </table>
        <div>
          <strong>Notera</strong>
          <br> Ange följande i din @NgModule för att ställa in language provider till Svenska:
          <br>
          <code>
            [ {{'{ provide: LOCALE_ID, useValue:"sv-SE" }'}}
          </code>
        </div>

      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header">
        <h4>Tillgänglighet</h4>
      </div>
      <div class="expandable-container__content">
        <p>
          Stöds ej.
        </p>
      </div>
    </vgr-expandable-container>
  </vgr-expandable-container-list>
</div>
