<div class="main-content lists-component ">
  <vgr-page-header [title]="'Datepicker'">
  </vgr-page-header>
  <vgr-expandable-container-list [allowMultipleExpandedChildren]="true">
    <div class="expandable-container-list__header">
      <h2>Dokumentation för datepicker</h2>
    </div>

    <vgr-expandable-container [expanded]="true">
      <div class="expandable-container__header">
        <h4>Översikt</h4>
      </div>
      <div class="expandable-container__content">
        <div class="content-overview">
          <p>
            <code>
              &lt;vgr-datepicker&gt; </code> är en kalender där användaren kan välja ett datum. I kalendern visas valt datum
            (satt av användaren eller av systemet) och dagens datum.
            <br>

          </p>
          <br>
          <!--row-layout row-layout--padded -->
          <div class="row-layout">
            <vgr-datepicker></vgr-datepicker>
          </div>

          <br>
          <p>Förändras med tema:
            <strong>ja</strong>
          </p>

        </div>
      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header ">
        <h4>Exempel</h4>
      </div>
      <div class="expandable-container__content ">
        <div class="row-layout ">
          <div class="full ">
            <div class="column-layout ">
              <div class="row-layout">
                <div>
                  <p>Default formatering</p>
                  <vgr-datepicker [selectedDate]="datepicker_selectedDate1" (selectedDateChanged)="datepicker_selectedDate1=$event"></vgr-datepicker>
                </div>
                <div>
                  <span>Valt datum default: </span>
                  <p>{{datepicker_selectedDate1 | date : 'yyyy MM dd'}}</p>
                </div>
              </div>
              <div class="row-layout">
                <div>
                  <p>Format yyyy MMM dd</p>
                  <vgr-datepicker (selectedDateChanged)="datepicker_selectedDate2=$event" [selectedDate]="datepicker_selectedDate2" [selectedDateFormat]="'yyyy MMM dd'"></vgr-datepicker>
                </div>
                <div>
                  <span>Valt datum: </span>
                  <p>{{datepicker_selectedDate2 | date : 'dd MMMM yyyy'}}</p>
                </div>
              </div>
              <div class="row-layout">
                <div>
                  <p>Format yyyy på tooltip</p>
                  <vgr-datepicker (selectedDateChanged)="datepicker_selectedDate3=$event" [selectedDate]="datepicker_selectedDate3" [tooltipDateFormat]="'yyyy'"></vgr-datepicker>
                </div>
                <div>
                  <span>Valt datum: </span>
                  <p>{{datepicker_selectedDate3 | date : 'dd MMM yyyy'}}</p>
                </div>

              </div>
              <div class="row-layout">
                <div>
                  <p>Avstängd datepicker</p>
                  <vgr-datepicker [disabled]="true" [selectedDate]="datepicker_selectedDate4"></vgr-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header">
        <h4>API</h4>
      </div>

      <div class="expandable-container__content">
        <table class="property-table">
          <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Exempel</th>
          </tr>
          <tr>

            <td>minDate: Date</td>
            <td>Sätter vilket datum kalendern börjar på. Sätts inget datum är standard första dagen i januari månad för innevarande
              år.
            </td>
            <td>
              [minDate]=someDate
            </td>
          </tr>
          <tr>
            <td>maxDate: Date</td>
            <td>Sätter vilket datum kalendern slutar på. Sätts inget datum är standard sista dagen i december månad för innevarande
              år.
            </td>
            <td>
              [maxDate]=someDate
            </td>
          </tr>

          <tr>
            <td>selectedDate: Date</td>
            <td> Valt datum som visas i kalendern. När kalendern instansieras och man öppnar den första gången så positioneras
              man på den månaden selectedDate är valt. Om inget datum är valt så positioneras man på dagens datum.</td>
            <td>
              [selectedDate] = someDate
            </td>
          </tr>

          <tr>
            <td>disabled: boolean</td>
            <td>Inaktiverar kalendern.</td>
            <td>
              [disabled]=true/false
            </td>
          </tr>

          <tr>
            <td>selectedDateFormat: string</td>
            <td>Datumformatet på valt datum i dropdownen.</td>
            <td>
              [selectedDateFormat]=dateFormat
            </td>
          </tr>

          <tr>
            <td>tooltipDateFormat: string</td>
            <td>Datumformatet på valt datum i dropdownens tooltip.</td>
            <td>
              [selectedDateFormat]=dateFormat
            </td>
          </tr>
          <tr>
            <td>selectedDateChanged = EventEmitter&lt;date&gt;
            </td>
            <td>Event som trigas när man väljer ett datum i kalendern.</td>
            <td>
              (selectedDateChanged)="someDateProperty=$event"
            </td>
          </tr>
        </table>
      </div>
    </vgr-expandable-container>
    <vgr-expandable-container [expanded]="false">
      <div class="expandable-container__header">
        <h4>Tillgänglighet</h4>
      </div>
      <div class="expandable-container__content">
        <p>
          Stöds ej.
        </p>
      </div>
    </vgr-expandable-container>
  </vgr-expandable-container-list>
</div>
