@import '../../../node_modules/vgr-komponentkartan/assets/partials/_settings.sizes.scss';
.loader-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: $desktop-width--medium) {
  .button-container {
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
