@import '../../../node_modules/vgr-komponentkartan/assets/partials/_settings.sizes.scss';
.loader-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.button-container {
  padding: 10px;
}

@media screen and (min-width : $desktop-width--medium) {
  .button-container {
    padding: 20px;
  }
}
