<vgr-page class="no-sort">
  <vgr-page-header title="Action panel">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [allowMultipleExpandedItems]="true">
        <vgr-list-header>
          <vgr-list-column-header text="Dokumentation för Action panel" [width]="20"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item [expanded]="true">
          <vgr-list-item-header>
            <h4>Översikt</h4>
          </vgr-list-item-header>
          <vgr-list-item-content [width]="1">
            <div class="content-overview">
              <p>
                <code>&lt;vgr-action-panel&gt;</code> 
                
              </p>
              <vgr-action-panel [expanded]="true" [title]="'Ett exempel på en action panel'">
                <vgr-button>En knapp</vgr-button>
                <p>Lite text...</p>
              </vgr-action-panel>
              <!-- <vgr-card>
                <vgr-card-header>
                  <vgr-button class="flex-right" [secondary]="true">Åtgärd</vgr-button>
                </vgr-card-header>
                <vgr-card-column>
                  <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 1'">
                    <span>Innehåll</span>
                  </vgr-card-section>
                  <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 2'">
                    <span>Innehåll</span>
                  </vgr-card-section>
                </vgr-card-column>
                <vgr-card-column>
                  <vgr-card-section class="card__right" [expanded]="true" [title]="'Rubrik'" [subtitle]="'Höger 1'" [readonly]="false">
                    <div>Innehåll</div>
                  </vgr-card-section>
                </vgr-card-column>
              </vgr-card> -->

              <p>Förändras med tema:
                <strong>nej</strong>
              </p>
            </div>
            <!-- Översikt -->
          </vgr-list-item-content>

        </vgr-list-item>
        <vgr-list-item [expanded]="false">
          <vgr-list-item-header>
            <h4>Exempel - två kolumner</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <!-- Exempel -->
            
            <br>
            <h3>Markup</h3>
            
            <br>

          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <!-- API -->
            <h3>Templatestruktur</h3>
            <ul>
              <li>
                <code>&lt;vgr-card&gt;</code>, första elementet som representerar hela kortet</li>
              <li>
                <code>&lt;vgr-card-header&gt;</code>, ger titelyta på en vgr-card. Plats för knappar och rubriker för hela kortet.</li>
              <li>
                <code>&lt;vgr-card-column&gt;</code>, kolumner i kortet.
                <ul>
                  <li>
                    Om det bara finns en kolumn blir den fullbredd.
                  </li>
                  <li>
                    Om det finns två kolumner så hamnar den första till vänster och den andra till höger.
                  </li>
                  <li>
                    Fler än två kolumner stöds ej.
                  </li>
                </ul>
              </li>

              <li>
                <code>&lt;vgr-card-section&gt;</code>, expanderbar sektion som placeras i en kolumn.</li>
            </ul>
            <br>
            <strong>OBS!</strong> API nedan avser
            <code>&lt;vgr-card-section&gt;</code>


            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>expanded: boolean</td>
                <td>Anger om sektionen är expanderad eller ej</td>
                <td>[expanded]="true"</td>
              </tr>
              <tr>
                <td>title: string</td>
                <td>Sektionens rubrik</td>
                <td>[title]="'Rubrik'"</td>
              </tr>
              <tr>
                <td>subTitle: string</td>
                <td>Sektionens underrubrik</td>
                <td>[title]="'Underrubrik'"</td>
              </tr>
              <tr>
                <td>readonly: boolean</td>
                <td>Anger om symbolen för redigeringsläge skall visas eller ej. False = visa. True = dölj. Default är TRUE.</td>
                <td>[readonly]="true"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false">
          <vgr-list-item-header>
            <h4>Tillgänglighet</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <!-- tILLGÄNGLIGHET -->
            <i>Under utveckling</i>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
