<vgr-page>
  <vgr-page-header [title]="'Kodexempel Reactive Forms'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-card>
        <vgr-card-column>
          <form [formGroup]="userForm">
            <div class="title-value-layout">
              <vgr-title-value title="Förnamn">
                <vgr-input formControlName="firstname" [errormessage]="validationMessages.firstname"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Efternamn">
                <vgr-input formControlName="lastname" [errormessage]="validationMessages.lastname"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Ålder">
                <vgr-input formControlName="age" [rightAlign]="true" [suffix]="'år'" [errormessage]="validationMessages.age"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="E-post">
                <vgr-input formControlName="email" [errormessage]="validationMessages.email"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Inkomst">
                <vgr-input formControlName="salary" [errormessage]="validationMessages.salary" [formatNumber]="true" [nrOfDecimals]="0"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Favoritdjur">
                <vgr-dropdown formControlName="favourite_pet" [values]="['Katt','Hund','Guldfisk']"></vgr-dropdown>
              </vgr-title-value>
              <vgr-title-value title="Intressen">
                <vgr-dropdown-multiselect formControlName="interests" [values]="['Koda','Sport','Sova','Äta']"></vgr-dropdown-multiselect>
              </vgr-title-value>
            </div>
            <vgr-button [disabled]="userForm.invalid">Skapa användare</vgr-button>
          </form>
        </vgr-card-column>
        <vgr-card-column>
          <div class="title-value-layout">
            <vgr-title-value title="Förnamn">
              <span>Obligatorisk. Minst två tecken. </span>
            </vgr-title-value>
            <vgr-title-value title="Efternamn">
              <span>Obligatorisk. Minst två tecken</span>
            </vgr-title-value>
            <vgr-title-value title="Ålder">
              <span>Obligatorisk. Mellan 18-120</span>
            </vgr-title-value>
            <vgr-title-value title="E-post">
              <span>Obligatorisk. Giltig e-post</span>
            </vgr-title-value>
            <vgr-title-value title="Inkomst">
              <span>Obligatorisk. Giltigt belopp. Formatering av nummer.</span>
            </vgr-title-value>
            <vgr-title-value title="Favoritdjur">
              <span>Obligatorisk.</span>
            </vgr-title-value>
            <vgr-title-value title="Intressen">
              <span>Obligatorisk. Ett alternativ är förvalt.</span>
            </vgr-title-value>
          </div>
        </vgr-card-column>
      </vgr-card>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmlSimpleListMarkup" highlight-js-content=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptSimpleListMarkup" highlight-js-content=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
