<vgr-page>
  <vgr-page-header [title]="'Kodexempel Reactive Forms'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-card>
        <vgr-card-column>
          <form [formGroup]="userForm">
            <vgr-title-value-layout>
              <vgr-title-value title="Förnamn">
                <vgr-input formControlName="firstname" [errorMessage]="validationMessages.firstname"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Efternamn">
                <vgr-input formControlName="lastname" [errorMessage]="validationMessages.lastname"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Ålder">
                <vgr-input formControlName="age" [alignRight]="true" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="E-post">
                <vgr-input formControlName="email" [errorMessage]="validationMessages.email"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Inkomst">
                <vgr-input formControlName="salary" [errorMessage]="validationMessages.salary" [formatNumber]="true" [nrOfDecimals]="0"></vgr-input>
              </vgr-title-value>
              <vgr-title-value title="Favoritdjur">
                <vgr-dropdown formControlName="favourite_pet" [items]="dropdownItems"></vgr-dropdown>
              </vgr-title-value>
              <vgr-title-value title="Intressen">
                <vgr-dropdown-multiselect formControlName="interests" [items]="dropdownItemsMulti"></vgr-dropdown-multiselect>
              </vgr-title-value>
              <vgr-title-value title="Du måste kryssa i mig!">
                <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
              </vgr-title-value>
              <vgr-title-value title="Välj valfri">
                <vgr-radio-group formControlName="optional" [options]="radioOptions">
                </vgr-radio-group>
              </vgr-title-value>
              <vgr-title-value title="Välj Månad">
                <vgr-monthpicker formControlName="monthpicker"></vgr-monthpicker>
              </vgr-title-value>
              <vgr-title-value title="Välj Dag">
                <vgr-datepicker formControlName="datepicker"></vgr-datepicker>
              </vgr-title-value>
              <vgr-title-value title="Registreringsdatum">
                <vgr-datepicker formControlName="datepicker_preselected"></vgr-datepicker>
              </vgr-title-value>
            </vgr-title-value-layout>
            <vgr-button [disabled]="userForm.invalid">Skapa användare</vgr-button>
          </form>
        </vgr-card-column>
        <vgr-card-column>
          <div class="title-value-layout">
            <vgr-title-value title="Förnamn">
              <span>Obligatorisk. Minst två tecken. </span>
            </vgr-title-value>
            <vgr-title-value title="Efternamn">
              <span>Obligatorisk. Minst två tecken</span>
            </vgr-title-value>
            <vgr-title-value title="Ålder">
              <span>Obligatorisk. Mellan 18-120</span>
            </vgr-title-value>
            <vgr-title-value title="E-post">
              <span>Obligatorisk. Giltig e-post</span>
            </vgr-title-value>
            <vgr-title-value title="Inkomst">
              <span>Obligatorisk. Giltigt belopp. Formatering av nummer.</span>
            </vgr-title-value>
            <vgr-title-value title="Favoritdjur">
              <span>Obligatorisk.</span>
            </vgr-title-value>
            <vgr-title-value title="Intressen">
              <span>Obligatorisk. Ett alternativ är förvalt.</span>
            </vgr-title-value>
            <vgr-title-value title="Du måsta kryssa i mig!">
              <span>Obligatorisk.</span>
            </vgr-title-value>
            <vgr-title-value title="Välj valfri">
              <span>Ingen validering.</span>
            </vgr-title-value>
            <vgr-title-value title="Välj månad">
              <span>Obligatorisk</span>
            </vgr-title-value>
            <vgr-title-value title="Välj dag">
              <span>Obligatorisk</span>
            </vgr-title-value>
            <vgr-title-value title="Registreringsdatum">
              <span>Obligatorisk. Dagens datum är förvalt</span>
            </vgr-title-value>
          </div>
        </vgr-card-column>
      </vgr-card>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmlSimpleListMarkup" highlight-js-content=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptSimpleListMarkup" highlight-js-content=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
