<vgr-page>
  <vgr-page-header [title]="'Enheter'">

    <div class="column-layout column-layout--pull-left">
      <label>Filtrera enheter</label>
      <div class="row-layout row-layout--equal-height">
        <vgr-filter-textbox value={{filtertext}}></vgr-filter-textbox>
        <vgr-button (click)="showActionPanel = true">Lägg till ny enhet</vgr-button>
      </div>
      <vgr-checkbox [label]="'Inkludera stängda enheter'"></vgr-checkbox>

    </div>

  </vgr-page-header>
  <vgr-action-panel [expanded]="showActionPanel" [title]="'Lägg till ny enhet'">
    <div *ngIf=!addNewUnit>
      <div class="row-layout">
        <label style="width: 150px">Välj enhet</label>
        <vgr-dropdown [items]="newUnits" (selectedChanged)="onSelectedChanged($event)"></vgr-dropdown>
        <vgr-button secondary=true [disabled]=!itemSelected (click)="addNewUnit=true">Lägg till</vgr-button>
      </div>
      <div class="column-layout column-layout--pull-right">
        <vgr-button (click)="onActionPanelClose()">Stäng</vgr-button>
      </div>
    </div>
    <vgr-card *ngIf=addNewUnit>
      <vgr-card-header>
        <div class="row-layout">
          <label style="width:200px">Enhet</label>
          <label>{{selectedUnit}}</label>
        </div>
        <div class="flex-right">
          <vgr-button class="enhet-card__abort-button" [secondary]="true ">Avbryt</vgr-button>
          <vgr-button [secondary]="true ">Spara enhet</vgr-button>
        </div>
      </vgr-card-header>
      <vgr-card-column>
        <vgr-card-section [title]=" 'Enhetsinformation' " expanded="true">
          <vgr-title-value-layout>
            <vgr-title-value [title]=" 'HSA-id' ">
              <span>SE2321000131-E000000011887</span>
            </vgr-title-value>
            <vgr-title-value [title]="'Avtalskod*' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Enhetskod*' ">
              <span></span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Nämnd*' ">
              <vgr-dropdown [items]="examplenamnd" [noItemSelectedLabel]=" 'Välj nämnd' "></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Avtalsperiod*' ">
              <div class="row-layout ">
                <vgr-monthpicker></vgr-monthpicker>
                <vgr-datepicker></vgr-datepicker>
              </div>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
        <vgr-card-section [title]=" 'Enhetschef' " [expanded]="false ">
          <vgr-title-value-layout>
            <vgr-title-value [title]=" 'Lägg till enhetschef*' ">
              <div class="column-layout ">
                <vgr-filter-textbox></vgr-filter-textbox>
                <div class="flex-right ">
                  <vgr-button [secondary]="true ">Lägg till</vgr-button>
                </div>
              </div>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Namn' ">
              <span></span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Telefon' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]=" 'E-post' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
        <vgr-card-section [title]=" 'Avtalspart' " [expanded]="false ">
          <vgr-title-value-layout>
            <vgr-title-value [title]=" 'Ägare*' ">
              <vgr-dropdown [items]="exampleagare" [noItemSelectedLabel]=" 'Välj ägare' "></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Ägarkod' ">
              <span></span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Ägarform' ">
              <span></span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Organisationsnr*' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Utbetalningssätt*' ">
              <vgr-dropdown [items]="exempelUtbetalningssatt" [noItemSelectedLabel]=" 'Välj Utbetalningssätt' "></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Kontonummer*' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Leverantörsid RD*' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Kundreferens' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
      <vgr-card-column>
        <vgr-card-section [title]=" 'Adressinformation' " [expanded]="false ">
          <vgr-title-value-layout>
            <vgr-title-value [title]=" 'Kommun' ">
              <span>Vänersborg</span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Kommunkod' ">
              <span>1487</span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Postadress' ">
              <span></span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Besöksadress' " [slim]="true">
              <span>Duellvägen 8
                <br> 462 60
                <br> >Vänersborg
              </span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Geokod (PT90)' ">
              <span>x: 6471784 y: 6471784</span>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Telefon' ">
              <span></span>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
        <vgr-card-section [title]=" 'Ersättningsgrundande information' " [readonly]="readonly " [expanded]="false ">
          <vgr-title-value-layout>
            <vgr-title-value [title]=" 'Medverkan i familjecentral' ">
              <vgr-dropdown [items]="exempelMedverkanIfamiljecentral" [noItemSelectedLabel]=" 'Välj' "></vgr-dropdown>
            </vgr-title-value>
            <vgr-title-value [title]=" 'Regionsövergripande grupper (kr/månad)' ">
              <vgr-input></vgr-input>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>
  </vgr-action-panel>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true" (sortChanged)="onSortChanged($event)">
        <vgr-list-header>
          <vgr-list-column-header text="Enhet" width="5" sortKey="enhet" [sortDirection]="sortDirections.Ascending"></vgr-list-column-header>
          <vgr-list-column-header text="HSA-ID" width="5" align="left" sortKey="hsaid"></vgr-list-column-header>
          <vgr-list-column-header text="Ägare" width="3" sortKey="agare"></vgr-list-column-header>
          <vgr-list-column-header text="Enhetskod" align="right" width="2" sortKey="enhetskod"></vgr-list-column-header>
          <vgr-list-column-header text="Nämnd" width="5" sortKey="namnd"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of exampleData" (expandedChanged)="onExpandedChanged($event,row)">
          <vgr-list-item-header>
            <vgr-list-column [text]="row.enhet"></vgr-list-column>
            <vgr-list-column [text]="row.hsaid"></vgr-list-column>
            <vgr-list-column [text]="row.agare"></vgr-list-column>
            <vgr-list-column [text]="row.enhetskod"></vgr-list-column>
            <vgr-list-column [text]="row.namnd"></vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <vgr-card>
              <vgr-card-header>
                <div class="row-layout">
                  <label>{{unitInFocus}}</label>
                </div>
                <div class="flex-right">
                  <vgr-save-cancel [unlocked]="cardUnlocked" (cancel)="cardUnlocked = false" (save)="cardUnlocked = false" (unlock)="cardUnlocked = true"></vgr-save-cancel>
                </div>
              </vgr-card-header>
              <vgr-card-column>
                <vgr-card-section [title]=" 'Enhetsinformation' " expanded="true" [readonly]="readonly">
                  <vgr-title-value-layout>
                    <vgr-title-value [title]=" 'HSA-id' " [slim]="!cardUnlocked">
                      <span>{{row.hsaid}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]="'Avtalskod*'" [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.avtalskod" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Enhetskod*' " [slim]="!cardUnlocked">
                      <span>{{row.enhetskod}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Nämnd*' " [slim]="!cardUnlocked">
                      <vgr-dropdown [items]="examplenamnd" [noItemSelectedLabel]=" 'Välj nämnd' " [readonly]="!cardUnlocked"></vgr-dropdown>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Avtalsperiod*' " [slim]="!cardUnlocked">
                      <div class="row-layout ">
                        <vgr-monthpicker [selectedDate]="row.details.avtalsperiod_start" [readonly]="!cardUnlocked"></vgr-monthpicker>
                        <vgr-datepicker [selectedDate]="row.details.avtalsperiod_slut" [readonly]="!cardUnlocked"></vgr-datepicker>
                      </div>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
                <vgr-card-section [title]=" 'Enhetschef' " [expanded]="false " [readonly]="readonly ">
                  <vgr-title-value-layout>
                    <vgr-title-value [title]=" 'Lägg till enhetschef*' " *ngIf="cardUnlocked">
                      <!-- Vy för att lägga till ny enhetschef   -->
                      <div class="column-layout ">
                        <div class="flex-right">
                          <vgr-filter-textbox></vgr-filter-textbox>
                        </div>
                        <div class="flex-right">
                          <vgr-button [secondary]="true ">Lägg till</vgr-button>
                        </div>
                      </div>
                    </vgr-title-value>
                    <!-- Vy för befintlig enhetschef  -->
                    <vgr-title-value [title]=" 'Namn' " [slim]="true" *ngIf="!cardUnlocked">
                      <span>row.details.enhetschef</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Telefon' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.enhetschef_telefon" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'E-post' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.enhetschef_epost" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
                <vgr-card-section [title]=" 'Avtalspart' " [expanded]="false " [readonly]="readonly ">
                  <vgr-title-value-layout>
                    <vgr-title-value [title]=" 'Ägare*' " [slim]="!cardUnlocked">
                      <vgr-dropdown [items]="exampleagare" [noItemSelectedLabel]=" 'Välj ägare' " [readonly]="!cardUnlocked"></vgr-dropdown>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Ägarkod' " [slim]="!cardUnlocked">
                      <span>{{row.details.agare_kod}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Ägarform' " [slim]="!cardUnlocked">
                      <span>{{row.details.agare_form}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Organisationsnr*' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.organisationsnummer" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Utbetalningssätt*' " [slim]="!cardUnlocked">
                      <vgr-dropdown [items]="exempelUtbetalningssatt" [noItemSelectedLabel]=" 'Välj Utbetalningssätt' " [readonly]="!cardUnlocked"></vgr-dropdown>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Kontonummer*' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.kontonummer" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Leverantörsid RD*' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.leverantorsid_RD" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Kundreferens' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.kundreferens" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
              </vgr-card-column>
              <vgr-card-column>
                <vgr-card-section [title]=" 'Adressinformation' " [readonly]="readonly " [expanded]="false ">
                  <vgr-title-value-layout>
                    <vgr-title-value [title]=" 'Kommun' " [slim]="!cardUnlocked">
                      <span>{{row.details.kommun}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Kommunkod' " [slim]="!cardUnlocked">
                      <span>{{row.details.kommunkod}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Postadress' " [slim]="true">
                      <span>{{row.details.postadress_gata}}
                        <br> {{row.details.postadress_postnummer}}
                        <br> {{row.details.postadress_stad}}
                      </span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Besöksadress' " [slim]="true">
                      <span>{{row.details.besoksadress_gata}}
                        <br> {{row.details.besoksadress_postnummer}}
                        <br> {{row.details.besoksadress_stad}}
                      </span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Geokod (PT90)' " [slim]="!cardUnlocked">
                      <span>{{row.details.geokod}}</span>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Telefon' " [slim]="!cardUnlocked">
                      <span>{{row.details.telefon}}</span>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
                <vgr-card-section [title]=" 'Ersättningsgrundande information' " [expanded]="false ">
                  <vgr-title-value-layout>
                    <vgr-title-value [title]=" 'Medverkan i familjecentral' " [slim]="!cardUnlocked">
                      <vgr-dropdown [items]="exempelMedverkanIfamiljecentral" [noItemSelectedLabel]=" 'Välj' " [readonly]="!cardUnlocked"></vgr-dropdown>
                    </vgr-title-value>
                    <vgr-title-value [title]=" 'Regionsövergripande grupper (kr/månad)' " [slim]="!cardUnlocked">
                      <vgr-input [value]="row.details.regionsovergripandegrupper" [readonly]="!cardUnlocked"></vgr-input>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
              </vgr-card-column>
            </vgr-card>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
