<vgr-page>
  <vgr-page-header [title]="'Enheter'">


  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true" (sortChanged)="onSortChanged($event)">
        <vgr-list-header>
          <vgr-list-column-header text="Enhet" width="5" sortKey="firstName" [sortDirection]="sortDirections.Ascending"></vgr-list-column-header>
          <vgr-list-column-header text="HSA-ID" width="4" align="left" sortKey="lastName"></vgr-list-column-header>
          <vgr-list-column-header text="Ägare" width="3" sortKey="occupation"></vgr-list-column-header>
          <vgr-list-column-header text="Enhetskod" align="right" width="3" sortKey="income"></vgr-list-column-header>
          <vgr-list-column-header text="Nämnd" width="5" sortKey="income"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of exampleData">

          <vgr-list-item-header>
            <vgr-list-column [text]="row.enhet"></vgr-list-column>
            <vgr-list-column [text]="row.hsaid"></vgr-list-column>
            <vgr-list-column [text]="row.agare"></vgr-list-column>
            <vgr-list-column [text]="row.enhetskod"></vgr-list-column>
            <vgr-list-column [text]="row.namnd"></vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>