<div class="main-content lists-component">
  <vgr-page-header [title]="'Demo-lista'"></vgr-page-header>
  <div class="komponentkarta-components">
    <div>
     Under utveckling
      <!-- <vgr-spinner [spinning]="actionInProgress"></vgr-spinner>
      <vgr-spinner [spinning]="actionInProgress" [size]="'small'"></vgr-spinner>
      <vgr-spinner [spinning]="actionInProgress" [size]="'large'"></vgr-spinner>
      <input type="button" (click)="actionInProgress=!actionInProgress" [value]="buttonText" size="20"/> -->
    </div>
  </div>  
</div>