<app-component-docs [componentName]="'Radio group'">
  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-radio-group&gt;</code>
    </p>
    <br>
    <p>En radiogroup innehåller flera radioknappar, där bara ett alternativ är valt åt gången, val kan vara förvalda och/eller
      inaktiva. Vid val av alternativ triggas eventet
      <code>selectedChanged</code>. Valbara items är av typen
      <code>ISelectableItem</code>. Det är genom att sätta properties på dessa objekt som man styr beteendet.
      <br>
      <vgr-radio-group [options]="[{id:'1', displayName:'Alternativ 1', selected:true},{id:'2', displayName:'Alternativ 2'}]">
      </vgr-radio-group>
    </p>
    <br>
    <p> Förändras med tema:
      <strong>Nej</strong>
    </p>
  </div>
  <div class="docs__examples">
    <div>
      <vgr-radio-group [options]="[{id:'1', displayName:'Förvald', selected:true},{id:'2', displayName:'Ej förvald'}, {id:'3', displayName:'Inaktiv', disabled:true}]"
        (selectedChanged)="onSelectedRadioOptionChanged($event)">
      </vgr-radio-group>
      <div>Du har valt alternativ: {{selectedRadioOption.displayName}}</div>
    </div>
    <br>
    <br> Under "kodexempel" finns exempel på hur radiogroup-komponenten kan användas i Angular Reactive Forms:
    <br>
    <a href="/reactiveformsexample">Reactive Forms exempel</a>
  </div>
  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>

          options : ISelectableItem[]
        </td>
        <td>Samling av
          <code>ISelectableItem</code> som utgör valbara alternativ</td>
        <td>[options]="[item1, item2, ...]"</td>
      </tr>
      <tr>
        <td>
          disabled : boolean
        </td>
        <td>Defaultvärde false. Sätter hela gruppen till disabled</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>

          noSelection : boolean
        </td>
        <td>Påverkar vad som händer om
          <strong>inget</strong> alternativ i options har selected: true. False innebär att första alternativet väljs. True innebär
          att inget alternativ väljs.
        </td>
        <td>[noSelection]="true"</td>
      </tr>
      <tr>
        <td> selectedChanged : EventEmitter&lt;ISelectableItem&gt;</td>
        <td>Event som triggas när man väljer ett nytt alternativ i radiogruppen</td>
        <td>(selectedChanged)="onSelectedRadioOptionChanged($event)"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag">
    <i>Under utveckling</i>
  </div>
</app-component-docs>
