<app-component-docs [componentName]="'Button'">

  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-button&gt; </code> finns i två olika utföranden, primär och sekundär.
      <br>
      <br>
      <vgr-button (buttonClick)="lastButtonPressed = 'Klicka här - primär'">Klicka här</vgr-button>
      <vgr-button [secondary]="true" (buttonClick)="lastButtonPressed = 'Klicka här - sekundär'">Klicka här</vgr-button>
    </p>
    <p> Förändras med tema:
      <strong>Ja</strong>
    </p>
  </div>

  <div class="docs__examples">
    <div class="column-layout">
      <h2>Primärknappar</h2>
      <div>

        <vgr-button (click)="lastButtonPressed = 'OK - primär'">OK</vgr-button>

        <vgr-button (click)="buttonDisabled=!buttonDisabled;">{{buttonDisabled ? 'Aktivera' : 'Inaktivera'}}</vgr-button>
        <vgr-button [disabled]="buttonDisabled">{{buttonDisabled ? 'Inaktiv' : 'Aktiv'}}</vgr-button>
      </div>
      <h2>Sekundärknappar</h2>
      <div>

        <vgr-button [secondary]="true" (click)="lastButtonPressed = 'OK - sekundär'">OK</vgr-button>
        <vgr-button [secondary]="true" (click)="buttonSecondaryDisabled=!buttonSecondaryDisabled">{{buttonSecondaryDisabled ? 'Aktivera' : 'Inaktivera'}}</vgr-button>
        <vgr-button [secondary]="true" [disabled]="buttonSecondaryDisabled">{{buttonSecondaryDisabled ? 'Inaktiv' : 'Aktiv'}}</vgr-button>
      </div>
    </div>
    <br>
    <br>
    <div>Senaste knapptryck: {{lastButtonPressed}}</div>
  </div>

  <div class="docs__api">
    <table class="property-table ">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>secondary : boolean</td>
        <td>Visa sekundärt utseende. Default är false.</td>
        <td>[secondary]="true"</td>
      </tr>
      <tr>
        <td>disabled : boolean</td>
        <td>Inaktivera knapp</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>click = new EventEmitter&lt;string&gt;</td>
        <td>Event när knapp trycks ner</td>
        <td>(click)="OnClick()"</td>
      </tr>
    </table>
  </div>

  <div class="docs__wcag">
    <p>
      <code>&lt;vgr-button&gt;</code> har en intern div vars roll är satt till button. Förutom rollen så används attributet attr.aria-disabled
      (inaktiv/aktiv)
    </p>
    <br>
    <p>Following button activation, focus is set depending on the type of action the button performs. For example:</p>
    <ul class="doc-list">
      <li>If activating the button opens a dialog, the focus moves inside the dialog. (see dialog pattern)</li>
      <li>If activating the button closes a dialog, focus typically returns to the button that opened the dialog unless the function performed in the dialog context logically leads to a different element. For example, activating a cancel button in a dialog returns focus to the button that opened the dialog. However, if the dialog were confirming the action of deleting the page from which it was opened, the focus would logically move to a new context.</li>
      <li>If activating the button does not dismiss the current context, then focus typically remains on the button after activation, e.g., an Apply or Recalculate button.</li>
      <li>If the button action indicates a context change, such as move to next step in a wizard or add another search criteria, then it is often appropriate to move focus to the starting point for that action.</li>
      <li>If the button is activated with a shortcut key, the focus usually remains in the context from which the shortcut key was activated. For example, if Alt + U were assigned to an "Up" button that moves the currently focused item in a list one position higher in the list, pressing Alt + U when the focus is in the list would not move the focus from the list.</li>
    </ul>
  </div>
</app-component-docs>
