<vgr-page>
  <vgr-page-header [title]="'Exempellista'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [allowMultipleExpandedItems]="false" (sortChanged)="onSortChanged($event)">
        <vgr-list-header>
          <vgr-list-column-header [text]="'Förnamn'" [width]="10" [sortKey]="'firstName'" [sortDirection]="sortDirections.Ascending"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Efternamn'" [width]="10" [sortKey]="'lastName'"></vgr-list-column-header>
        </vgr-list-header>

        <vgr-list-item *ngFor="let row of peopleRows" [notification]="row.notification" [expanded]="row.expanded">
          <div class="list-item__header">
            <vgr-list-column [text]="row.previewObject.firstName"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.lastName"></vgr-list-column>
          </div>
          <div class="list-item__content">
            <vgr-card>
              <div *ngIf="row.previewObject.canBeDeleted && !row.previewObject.deleted" class="card__top flex-row">
                <vgr-button class="flex-right" [secondary]="true" [disabled]="false" (buttonClick)="removeRow(row)">Ta bort</vgr-button>
              </div>
              <vgr-card-section class="card__left" [expanded]="true" [title]="'Personlig information'" [subtitle]="row.previewObject.firstName + ' ' + row.previewObject.lastName">
                <div class="title-value-layout">
                  <vgr-title-value [title]="'Förnamn'">
                    <span>{{row.previewObject.firstName}}</span>
                  </vgr-title-value>
                  <vgr-title-value [title]="'Efternamn'">
                    <span>{{row.previewObject.lastName}}</span>
                  </vgr-title-value>
                </div>
              </vgr-card-section>
              <vgr-card-section class="card__right" [title]="'Detaljerad information'">
                <div class="title-value-layout">
                  <vgr-title-value [title]="'Förnamn'">
                    <span>{{row.previewObject.firstName}}</span>
                  </vgr-title-value>
                  <vgr-title-value [title]="'Efternamn'">
                    <span>{{row.previewObject.lastName}}</span>
                  </vgr-title-value>
                </div>
              </vgr-card-section>
            </vgr-card>
          </div>
        </vgr-list-item>

      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
