<vgr-page>
  <vgr-page-header [title]="'Kodexempel lista med notifieringar'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Lista med notifieringar</h2>
      <p>Här har vi exempel på en lista med notifieringar. även bredden på kolumnerna är satta. För att se dokumentationen på
        komponenten, klicka
        <a href="/lists">här.</a>
      </p>
    </vgr-page-block>
    <vgr-page-block></vgr-page-block>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true" [allowMultipleExpandedItems]="false" (sortChanged)="onSortChanged($event)">
        <vgr-list-header>
          <vgr-list-column-header [text]="'Förnamn'" [width]="10" [sortKey]="'firstName'" [sortDirection]="sortDirections.Ascending"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Efternamn'" [width]="10" [sortKey]="'lastName'"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of peopleRows" [notification]="row.notification" [expanded]="row.expanded">
          <vgr-list-item-header>
            <vgr-list-column [text]="row.previewObject.firstName"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.lastName"></vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <vgr-button [secondary]="true" (click)="updateRow(row)">Uppdatera</vgr-button>
            <vgr-button [secondary]="true" (click)="deleteRow(row)">Ta bort</vgr-button>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmlAdvancedListMarkup" highlight-js-content=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptAdvancedListMarkup" highlight-js-content=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
