<div class="main-content">
  <vgr-page-header [title]="'Modal'">
  </vgr-page-header>
  <div class="komponentkarta-components column-layout">
    <p>
      Modala dialoger innehåller en rubrik, en text samt 1-3 knappar. Svar på dialogen hanteras av callbacks. För att använda modal
      dialog, injecta ModalService i din komponent och anropa <i>openOneButtonDialog</i>, <i>openSaveDontSaveCancelDialog</i>      eller <i>openDialog</i>.
    </p>

    <div class="row-layout">
      <div>
        <vgr-text-button (buttonClick)="showOneButtonModal()">En knapp</vgr-text-button>
      </div>
      <div>
        <vgr-text-button (buttonClick)="showTwoButtonModal()">Två knappar med lång text</vgr-text-button>
      </div>
      <div>
        <vgr-text-button (buttonClick)="showThreeButtonModal()">Tre knappar</vgr-text-button>
      </div>
      <div>
        <vgr-text-button (buttonClick)="showSaveDontSaveCancelModal()">Spara-SparaInte-Avbryt</vgr-text-button>
      </div>
    </div>
    <div>
      <span>Du svarade:</span>
      <span>{{lastModalAnswer}}</span>
    </div>
  </div>
</div>
