<app-component-docs [componentName]="'Panel'">
  <div class="docs__overview">
    <div class="content-overview">
      <p>
        <code>
          &lt;vgr-panel&gt;</code> är en panel som man kan lägga innehåll i. Panelen har två olika utseenden som går att
        ställa in:

      </p>
      <ul>
        <li>Färgad kant runt panelen och en markör överst som färgas beroende på färgtemat. Det går även att sätta själv vilken
          färg en specifik panel ska ha.</li>
        <li>Utan färgad kant och markör överst.</li>
      </ul>
      <p>
        Behöver man ha flera paneler på samma rad och att de ska ta olika mycket utrymme så ska dessa ligga i en
        <code>
          &lt;vgr-panel-container&gt;</code>
      </p>

      <vgr-panel-container>
        <vgr-panel width="4">
          <p>Panel med neutralt tema och med lite text i som tar 1/3 av innehållet i en panelbehållare.</p>
        </vgr-panel>
        <vgr-panel noborder="true" width="8">

        </vgr-panel>
      </vgr-panel-container>
    </div>
    <br>
    <p> Förändras med tema:
      <strong>Ja</strong> (överkant färgas med tema).
    </p>
  </div>
  <div class="docs__examples ">

    <h2>Grönt tema, panel-container med en 1/3 panel och en 2/3 panel </h2>
    <vgr-panel-container>
      <vgr-panel width="4" color="green">
      </vgr-panel>
      <vgr-panel width="8" color="green">
      </vgr-panel>
    </vgr-panel-container>
  </div>
  <div class="docs__api ">
    <table class="property-table ">
      <tr>
        <th style="width:350px ">CSS-Klass</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>
          .information-panel
        </td>
        <td>Sätts på element som skall vara en panel</td>
        <td>Kombinera med klasserna
          <code class="css ">.full</code>,
          <code class="css ">.one-third</code>,
          <code class="css ">.two-thirds</code> eller
          <code class="css ">half</code> för att sätta storlek. Notera att panelerna då måste ligga i en
          <code class="css ">.row-layout</code>.</td>
      </tr>
      <tr>
        <td>
          .information-panel__content
        </td>
        <td>Innehåll i panelen, innehåller header, information samt footer</td>
        <td></td>
      </tr>
      <tr>
        <td>
          .information-panel__header
        </td>
        <td>Headerelement, innehåller rubrik och ev tidsstämpel</td>
        <td></td>
      </tr>
      <tr>
        <td>
          .information-panel__header__title
        </td>
        <td>Panelens rubrik, visas till vänster i rubriken</td>
        <td></td>
      </tr>
      <tr>
        <td>
          .information-panel__header__timestamp
        </td>
        <td>Tidsstämpel, visas till höger i header</td>
        <td></td>
      </tr>
      <tr>
        <td>
          .information-panel__information
        </td>
        <td>Plats för text eller annat innehåll</td>
        <td></td>
      </tr>
      <tr>
        <td>
          .information-panel__footer
        </td>
        <td>Visas längst ned i panelen</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <i>Ej aktuellt, då detta enbart är css-klasser</i>
  </div>
</app-component-docs>
