ul {
  list-style-type: disc;
  list-style-position: inside;
  li {
    ul {
      li {
        padding-left: 26px;
      }
    }
  }
}

.circle-img {
  max-height: 50px;
}

.stats-img {
  max-height: 50px;
}

.stethoscope-img {
  max-height: 112px;
}

.file-info-text {}
