ul {
  list-style-type: disc;
  list-style-position: inside;
  li {
    ul {
      li {
        padding-left: 26px;
      }
    }
  }
}

.listings {
  padding-top: 10px;
}

.listings {
  strong {
    font-size: 68px;
  }
}

.circle-img {
  max-height: 50px;
}

.stats-img {
  max-height: 112px;
}

.phockey-stick-img {
  max-height: 20px;
}

.red-circle-img {
  height: 120px;
}

.file-info-text {
  margin-left: 0px;
  div {
    padding-top: 5px;
  }
}
