<app-component-docs [componentName]="'Panel'">
  <div class="docs__overview">
    <div class="content-overview">
      <p>
        <code>&lt;vgr-panel&gt;</code> är en panel som kan innehålla valfritt innehåll. Den har en fast höjd och kan visas med
        eller utan ram. Behöver man ha flera paneler på samma rad ska de placeras i en
        <code>&lt;vgr-panel-container&gt;</code>
      </p>
      <vgr-panel-container>
        <vgr-panel width="4">
          <p>Panel med neutralt tema och med lite text i som tar 1/3 av innehållet i en panelbehållare.</p>
        </vgr-panel>
        <vgr-panel noborder="true" width="8">

        </vgr-panel>
      </vgr-panel-container>
    </div>
    <br>
    <p> Förändras med tema:
      <strong>Ja</strong> (ram färgas med tema, men går att sätta till en specifik tema-färg).
    </p>
  </div>
  <div class="docs__examples ">
    <vgr-panel-container>
      <vgr-panel width="4" color="green">
        <div class="row-layout panel-heading">
          <img class="circle-img" src="/assets/images/panel-circle.PNG">
          <h1 class="file-info-text">2 / 3 filuppladdningar</h1>
        </div>
        <p>Antal enheter som laddat upp A eller C-fil denna månaden i
          <a>Rehab.</a>
        </p>
      </vgr-panel>
      <vgr-panel width="8" color="green">
        <div class="row-layout">
          <div>
            <div class="row-layout panel-heading">
              <img class="stethoscope-img" src="/assets/images/panel-stethoscope.PNG">
              <div class="file-info-text">
                <h1>Genomsnitt 3 442 besök/månad</h1>
              </div>
            </div>
            <div>
              <p>Genomsnitt på antal besök per månad beräknat på alla enheter de senaste två åren,
                <a>läs mer om besöksstatistik</a>.
              </p>
            </div>
          </div>
          <img class="stats-img" src='/assets/images/panel-stats.PNG' />
        </div>
      </vgr-panel>
    </vgr-panel-container>
    <vgr-panel-container>
      <vgr-panel width="4" noborder="true">
        <div class="row-layout">
          <div>
            <h2>Filuppladdningar</h2>
            <p>antal enheter som laddat upp A, B eller C-fil denna månaden i
            </p>
            <a>Vårdval vårdcentral</a>.
          </div>
          <div>
            <img class="red-circle-img" src="/assets/images/panel-red-circle-text.PNG" />
          </div>
        </div>
      </vgr-panel>
      <vgr-panel width="8" color="red">
        <div class="listings">
          <h1>
            <strong>+89</strong> Nya listningar denna månad
          </h1>
          <span class="line"></span>
        </div>
        <p class="details">Antal nya listningar denna månad sammanställt på alla dina enheter i
          <a>VGPV</a>.
        </p>
      </vgr-panel>
    </vgr-panel-container>
    <section [innerHTML]="htmlMarkup" highlight-js-content=".highlight"></section>
  </div>
  <div class="docs__api ">
    <table class="property-table ">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>width : number</td>
        <td>vgr-panel-container är baserad på en 12-kolumnslayout. Default-bredden för en panel är 4 kolumner.</td>
        <td>[width]="8"</td>
      </tr>
      <tr>
        <td>color : string</td>
        <td>Bestämmer vilken färg panelen ska ha på ramen. Tillgängliga färger är red, green, blue, neutral. Default är att färgen
          följer temat.</td>
        <td>[color]="green"</td>
      </tr>
      <tr>
        <td>noborder : boolean</td>
        <td>Gör det möjligt att skapa en panel som inte har någon ram. Default är false.</td>
        <td>[noborder]="true"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <i>Ej aktuellt, då detta enbart en yta med en ram.</i>
  </div>
</app-component-docs>
